@font-face {
    font-family: 'Minecraftia';
    src:
        url(../custom-fonts/Minecraftia-Regular.eot);
    src:
        url(../custom-fonts/Minecraftia-Regular.ttf)
        format('truetype');
}

body {
    word-wrap: break-word;
    line-height: 35px;
    background-image: url(../images/grass.png);
    background-size: cover;
    font-family: Minecraftia;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 2px #a1b1c1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

div#navbar {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
div#logo {
    background-image: url(../images/YOUNOOB.png);
    background-size: contain;
    width: 45px;
    height: 45px;
    position: relative;
    bottom: 43px;
    left: 95.1683748169839vw;
}
span#navbar {
    position: relative;
    top: 10px;
}
a#text1:hover {
    color: #1a6
}
a#text2:hover {
    color: #119
}
a#text3:hover {
    color: #f3ff11
}

div#contents {
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    width: 67vw;
    /* height: 500px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}