/* fonts */ @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@font-face {
	
    font-family: 'Minecraftia';
    src:
        url(../custom-fonts/Minecraftia-Regular.eot);
    src:
        url(../custom-fonts/Minecraftia-Regular.ttf)
        format('truetype');
		
}

body {
	
	margin: 0px;
	padding: 0px;
	font-family: 'Minecraftia';
	background-color: #a0a0a0;
	background-image: url(../images/grass.png);
	background-size: cover;
	text-shadow: 0px .6px gray;
	text-align: center;
	
}

h1 {
	
	font-weight: normal;
	
}

#header {
	
	background: #bdbdbd;
	background-image: linear-gradient(to top, #bdbdbd, #cecece);
	/* background-image: -webkit-linear-gradient(to top, #aaaaaa, #d2d2d2);
	background-image: -o-linear-gradient(to top, #aaaaaa, #d2d2d2);
	background-image: -moz-linear-gradient(to top, #aaaaaa, #d2d2d2);
	background-image: -ms-linear-gradient(to top, #aaaaaa, #d2d2d2); */
	width: -1vw;
	margin: inherit auto 50px auto;
	padding: 1px 5px 1px 5px;
    text-shadow: 0 -.6px #808080, 0 .6px 1px #dedede;
	-webkit-text-shadow: 0 -.6px #808080, 0 .6px #dedede;
	-o-text-shadow: 0 -.6px #808080, 0 .6 #dedede;
	-moz-text-shadow: 0 -.6px #808080, 0 .6 #dedede;
	-ms-text-shadow: 0 -.6px #808080, 0 .6 #dedede;
	color: #a0a0a0;
	border-radius: 0px 0px 10px 10px;
	border-bottom: 2px solid #969696;
	border-top: 1px solid #bebebe;
	box-shadow: 0 6px 10px 1px #000000;
	box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 6px 10px 1px #000000;
	-webkit-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 6px 10px 1px #000000;
	-o-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 6px 10px 1px #000000;
	-moz-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0 6px 10px 1px #000000;
	-ms-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	
}

@media screen and (max-width: 1250px) {
	
	.creeper1 {
		
		display: none;
		
	}
	
	.creeper2 {
		
		display: none;
		
	}
	
	.creepercompact {
		
		display: inline !important;
		
	}
	
	#block-thing {
		
		position: relative;
		
	}
	
}

.creeper1 {
	
	max-width: 80px;
	position: fixed;
	right: 77vw;
	transform: scaleX(-1) rotate(.03turn) translate(0px, 10px);
	
}

.creeper2 {
	
	max-width: 80px;
	position: fixed;
	left: 77vw;
	transform: rotate(.03turn) translate(0px, 10px);
	
}

.creepercompact {
	
	max-width: 100px;
	transform: translate(0px, 10px) scaleX(2);
	display: none;
}

#block-thing {
	
	padding: 10px 10px;
	background: #5a5a5a;
	background-image: linear-gradient(to top, #5a5a5a, #828282);
	background-image: -webkit-linear-gradient();
	background-image: -o-linear-gradient();
	background-image: -moz-linear-gradient();
	background-image: -ms-linear-gradient();
	max-width: 500px;
	color: #bebebe;
	border-radius: 10px;
	border: px solid rgba(42, 157, 244, 0.3);
	text-shadow: 0 -.6px #dcdcdc;
	margin: 10% auto auto auto;
	transition: border .1s, box-shadow .1s;
	-webkit-transition: border .1s, box-shadow .1s;
	-o-transition: border .1s, box-shadow .1s;
	-moz-transition: border .1s, box-shadow .1s;
	-ms-transition: border .1s, box-shadow .1s;
	display: none;
	
}

#block-thing:focus {
	
	padding: 10px 10px;
	background: #464646;
	background-image: linear-gradient(to bottom, #5a5a5a, #828282);
	max-width: 500px;
	color: #ffffff;
	transform: translateY(-3px);
	text-shadow: 0 .6px #a0a0a0;
	border: 5px solid rgba(42, 157, 244, 0.7);
	box-shadow: 0 6px 10px 1px #000000;
	box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 6px 10px 1px #000000;
	-webkit-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 6px 10px 1px #000000;
	-o-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 6px 10px 1px #000000;
	-moz-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0 6px 10px 1px #000000;
	-ms-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.7);
	
}

#csmp {
	
	padding: 10px 10px;
	background: #464646;
	background-color: rgba(73, 73, 73, .7);
	max-width: 900px;
	
}